.body{
    font-family: 'Cormorant Garamond', serif;
    background-color: lightsteelblue;
}

.container {
    font-family: 'Cormorant Garamond', serif;
}

.h1, h1 {
    font-family: 'Satisfy', serif;
    font-size: 1.8rem;
}

.table {
    border-left: 24px;
    border-right: 24px;
    width: 100%;
    table-layout: fixed;
    color: black;
    font-family: 'Cormorant Garamond', serif;
}

.table-bordered {
    border-style: solid;
    border-width: 2px;
    font-family: 'Cormorant Garamond', serif;
    color: black;
}

.table-headers {
    text-align: center;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
}

.btn-success {
    font-family: 'Cormorant Garamond', serif;
}